.ss {
    color: rgba(41, 41, 41, 1);
    font-family: inherit;
    font-weight: 600;
    font-size: 17px;
}

.sg{
height: 40px;
    background: rgba(3, 168, 124, 1);
    color: white;
    text-transform: none;
    margin-top: 20px;
    border-radius: 7px;
    font-size: 15px;
    border: rgba(3, 168, 124, 1);
    width:170px;
}